In [1]:
import pandas as pd
df = pd.read_csv('All-seasons.csv')
print(df.shape)
df.head()

(70896, 4)

  Season Episode Character                                               Line
0     10       1      Stan         You guys, you guys! Chef is going away. \n
1     10       1      Kyle                        Going away? For how long?\n
2     10       1      Stan                                         Forever.\n
3     10       1      Chef                                  I'm sorry boys.\n
4     10       1      Stan  Chef said he's been bored, so he joining a gro...

In [8]:
df.Season.value_counts()

2         6416
3         5798
4         5680
6         5131
5         4414
7         4236
1         4170
8         3601
9         3526
11        3478
10        3471
14        3346
12        3307
13        3257
16        3120
15        3101
18        2522
17        2305
Season      17
Name: Season, dtype: int64

In [45]:
cleanlines = pd.Series([cell.replace('\n','').strip() for cell in df.Line])

In [47]:
cleanlines

0                  You guys, you guys! Chef is going away.
1                                Going away? For how long?
2                                                 Forever.
3                                          I'm sorry boys.
4        Chef said he's been bored, so he joining a gro...
                               ...
70891                           I think you're pushing it.
70892                                    How about twenty?
70893                               That's not disciprine.
70894                       Right right. Does vodka count?
70895                                                 Dad!
Length: 70896, dtype: object

In [69]:
train = pd.DataFrame(df.Character)
train['line'] = cleanlines
train.columns = ['name','line']

In [70]:
train.head()

   name                                               line
0  Stan            You guys, you guys! Chef is going away.
1  Kyle                          Going away? For how long?
2  Stan                                           Forever.
3  Chef                                    I'm sorry boys.
4  Stan  Chef said he's been bored, so he joining a gro...

In [71]:
train.to_csv('train.csv',index=False)