In [1]:
import pandas as pd
df = pd.read_csv('sp_lines.csv')
print(df.shape)
df.head()

(78700, 5)

,character,text,episode_name,season_number,episode_number
0,boys,school day school day teacher's golden ru,Cartman Gets an Anal Probe,1,1
1,kyle broflovski,ah damn it my little brother's trying to follo...,Cartman Gets an Anal Probe,1,1
2,ike broflovski,zeeponaner,Cartman Gets an Anal Probe,1,1
3,kyle,ike you can't come to school with me,Cartman Gets an Anal Probe,1,1
4,eric cartman,yeah go home you little dildo,Cartman Gets an Anal Probe,1,1

In [2]:
train = df[['character', 'text']]
train.columns = ['name','line']
train.head()

              name                                               line
0             boys          school day school day teacher's golden ru
1  kyle broflovski  ah damn it my little brother's trying to follo...
2   ike broflovski                                         zeeponaner
3             kyle               ike you can't come to school with me
4     eric cartman                      yeah go home you little dildo

In [3]:
train.to_csv('train.csv',index=False)